body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100%;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 30px;
}

.add {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background: #000;
  color: rgb(255, 255, 255);
}

.list {
  margin-top: 20px;
}

.item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.remove {
  float: right;
  background: rgb(190, 102, 39);
  color: aliceblue;
  border: none;
  padding: 5px 10px;
}
